:root {
  --text: #06050e;
  --background: #e9e9f9;
  --background-100: #d9d7f6;
  --primary: #4940ca;
  --secondary: #9792e5;
  --accent: #6057dd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* padding: 25px; */
  background-color: var(--background);
}
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* Status-JOB */
.filter-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  text-transform: capitalize;
}
.filter-btn button {
  padding: 8px 16px;
  color: var(--text);
  border: 1px solid var(--background-100);
  cursor: pointer;
  font-size: 18px;
  background-color: var(--background);

  border-radius: 18px;
  outline: none;
  transition: background-color 0.3s ease;
}
.filter-btn button.active {
  color: var(--background);
  background-color: var(--primary);
  border: none;
}

/* Card */
.container-card {
  /* width: 100%; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.container-card {
  direction: ltr;
}
.title {
  color: var(--text);
  margin-left: 8px;
}
.card {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px)); */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card-item {
  background-color: var(--background-100);
  padding: 16px;
  border-radius: 8px;
  color: var(--text);
  width: 850px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  padding-right: 60px;
}
.card-item img {
  height: 40px;
  width: auto;
  border-radius: 20px;
  object-fit: contain;
}
.card-logo-title {
  display: flex;
  gap: 20px;
}
.card-status-time {
  display: flex;
  align-items: center;
  gap: 10px;
  align-items: center;
}
strong {
  text-transform: capitalize;
}
.empty-card {
  display: flex;
  width: 850px;
  font-size: 20px;
  color: var(--text);
  visibility: hidden;
}
/* Tablet */
@media (max-width: 1024px) {
  .card-item {
    width: 650px;
  }
  .empty-card {
    width: 650px;
  }
}
/* Phome */
@media (max-width: 600px) {
  .card-item {
    width: 90%;
  }
  .empty-card {
    width: 90%;
  }
  .filter-btn {
    gap: 5px;
  }
  .filter-btn button {
    padding: 6px 12px;
    font-size: 12px;
  }
  .title {
    font-size: 16px;
  }
  .job-title {
    font-size: 14px;
  }
  .text {
    font-size: 12px;
  }
  .card-status-time {
    gap: 5px;
    font-size: 12px;
  }
}

/* Icons update and delete */
.EllipsisH-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.EllipsisH-icon:hover {
  background-color: var(--background);
}
.dropdown-menu {
  position: absolute;
  top: 55px;
  right: 15px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--background);
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.dropdown-menu button {
  width: 100%;
  padding: 8px 10px;
  background: none;
  border: none;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
  color: var(--text);
  background-color: var(--background);
}
.dropdown-menu button:hover {
  background-color: var(--secondary);
}

/* Add-button */
.add-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  color: var(--background);
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  z-index: 1100;
}

/* Form-box */
.modal-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-container {
  background-color: var(--background);
  padding: 20px;
  color: var(--text);
  border-radius: 8px;
  max-width: 1020px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.modal-container h2 {
  margin-bottom: 20px;
}
.modal-container label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--text);
  min-width: 450px;
}
.modal-container label {
  color: var(--text);
}
.modal-container input,
.modal-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: var(--text);
  border: 1px solid var(--secondary);
  background-color: var(--background-100);
  outline: none;
}
.action-btn {
  display: flex;
  gap: 16px;
}
.action-btn button {
  width: 48%;
  padding: 10px 20px;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
}
.error-text {
  color: red;
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
}
